
/* css reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,
ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,
hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; } 
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section { display: block; } 
body { font-family: 'Noto Sans KR', sans-serif; font-size: 16px; color: #333; } 
ol,ul { list-style: none; } 
table { border-collapse: collapse; border-spacing: 0; } 
address { font-style: normal; } 
a { color: #333; text-decoration: none; } 
img { border: 0; vertical-align: top; } 
.hidden { display: block; color: #fff; position: absolute; left: -1000px; top: 0; height: 1px; width: 1px; overflow: hidden; } 
.text{ width: 90%; margin: 20px auto; padding: 20px; line-height: 1.75rem; } 
.hover_tab { width: 80%; margin: 100px auto 20px; display: flex; justify-content: space-between; } 
.hover_tab li { width: 23%; padding: 20px; text-align: center; border: 1px solid; font-size: 1.25rem; transition: all .5s ease∏; } 
.detail.on { display: block; z-index: 5;} 
.hover_tab li:nth-of-type(1) { border-color: rgb(123, 80, 255);; } 
.hover_tab li:nth-of-type(2) { border-color: rgb(0, 207, 121); } 
.hover_tab li:nth-of-type(3) { border-color: rgb(255, 80, 106); } 
.hover_tab li:nth-of-type(4) { border-color: rgb(80, 153, 255); } 
.hover_tab li:hover { color: #fff; } 
.hover_tab li:nth-of-type(1):hover { background: rgb(123, 80, 255);; } 
.hover_tab li:nth-of-type(2):hover { background: rgb(0, 207, 121); } 
.hover_tab li:nth-of-type(3):hover { background: rgb(255, 80, 106); } 
.hover_tab li:nth-of-type(4):hover { background: rgb(80, 153, 255); } 
.derail_box { position: relative; width: 80%; margin: 0 auto; } 
.detail { left:0; top:0; border-radius: 20px; padding: 20px; color:#fff; position:absolute;  display: none; } 
.detail:nth-of-type(1) { background: rgb(123, 80, 255); display: block;} 
.detail:nth-of-type(2) { background: rgb(0, 207, 121);} 
.detail:nth-of-type(3) { background: rgb(255, 80, 106);} 
.detail:nth-of-type(4) { background: rgb(80, 153, 255);} 


.reasonBtn{display: block; width: 30%; margin: 250px auto 0; text-align: center;
     border: 1px solid #333; color:#333; border-radius: 20px; padding: 10px;}
.reason_bg{width: 100vw; height: 100vh;  z-index: 10;
    position:fixed; background: rgba(0,0,0,0.3);left:0; top:0; visibility: hidden;}

.reason{background: #fff; color: #333; padding: 40px; z-index: 20; top:83%;
    position: absolute; width: 50%; left: 50%; transform: translateX(-50%); visibility: hidden;}
.reason.active{visibility: visible;}
.reason_bg.active{visibility: visible;}
.reason_close::after{content: ''; position: absolute; background: #333;
    top: 20px; right: 20px; width: 20px; height: 2px; transform: rotate(45deg);}

.reason_close::before{content: '';position: absolute; background: #333;
    top: 20px; right: 20px; width: 20px; height: 2px;transform: rotate(-45deg); }