/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,
ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,
hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; } 
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section { display: block; } 
body { font-family: 'Noto Sans KR', sans-serif; font-size: 16px; color: #333; } 
ol,ul { list-style: none; } 
table { border-collapse: collapse; border-spacing: 0; } 
address { font-style: normal; } 
a { color: #333; text-decoration: none; } 
img { border: 0; vertical-align: top; } 
.hidden { display: block; color: #fff; position: absolute; left: -1000px; top: 0; height: 1px; width: 1px; overflow: hidden; } 


/* carousel */
.carousel{position: relative;width: 100vw; overflow: hidden;}
.slideContainer{width: 300vw; display: flex;justify-content: space-between;position: relative; left: 0; transition: all 1s ease;}
.active1{transform: translateX(-100vw);}
.active2{transform: translateX(-200vw);}
.slideBox{width: 100vw;}
.slideBox img{width: 100%;}
.buttonBox{position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); display: flex;}
.buttonBox span{ display: block; width: 10px;height: 10px; margin-right: 10px; border:1px solid #fff; border-radius:50%; }
.buttonBox span:hover{background: #fff;}
.buttonBox span.active{background: #fff; opacity: .7;}
.next,.pre{display: block; z-index: 5; width: 50px; height: 50px; position: absolute; top:50%; transform: translateY(-50%);}
.next{right: 30px;}
.pre{left: 30px;}
.next i,.pre i{font-size: 1.5rem; color:#fff; opacity: .7;}
