html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,
ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,
hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; } 
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section { display: block; } 
body { font-family: 'Noto Sans KR', sans-serif; font-size: 16px; color: #333; } 
ol,ul { list-style: none; } 
table { border-collapse: collapse; border-spacing: 0; } 
address { font-style: normal; } 
a { color: #333; text-decoration: none; } 
img { border: 0; vertical-align: top; } 
.hidden { display: block; color: #fff; position: absolute; left: -1000px; top: 0; height: 1px; width: 1px; overflow: hidden; } 

.saleAlert{
    padding:20px; border-radius:5px;
    color:#fff; 
    width: 80%; margin: 20px auto; text-align: center;
    background: rgb(58, 136, 253);}
.new{background: rgb(255, 134, 134); padding: 10px; text-align: center; width: 80%; margin: 10px auto; color:#fff}
.emailForm{
    width: 80%;margin: 20px auto; background: rgb(193, 198, 252);
    padding: 50px; text-align: center;
}
.emailForm div{ display: flex; align-items: center; width: 50%;justify-content: space-between; margin: 20px auto;}
.emailForm input{padding: 10px 20px; border-radius: 5px; border: none;}
.emailForm button {padding: 10px; border: none; color:yellowgreen ;border-radius: 5px;background: #fff; transition: all .5s ease;}
.emailForm button:hover{background: yellowgreen; color:#fff}

.formWrap{width: 80%;margin:20px auto; background: rgb(255, 105, 125); text-align: center; color:#fff; padding: 30px;}
.formWrap p{margin-bottom: 20px; font-weight: 700;}
.selectBox{width: 60%; padding: 10px; border: none; margin: 15px auto; border-radius: 10px;}
.shirtBox,.capBox{display: none;}
.formWrap .capBox.show, .formWrap .shirtBox.show{display: block;}